## Q1: Join Tuples if similar initial element
#### While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element.This problem can have applications in data domains such as Data Science.

#### For eg.

#### Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
#### Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

In [2]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

print("The original list is : " + str(test_list))
 
output_list = []
for sub in test_list:
    if output_list and output_list[-1][0] == sub[0]:
        output_list[-1].extend(sub[1:])
    else:
        output_list.append([ele for ele in sub])
output_list = list(map(tuple, output_list))
 
print("The extracted elements : " + str(output_list))

The original list is : [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
The extracted elements : [(5, 6, 7, 8), (6, 10), (7, 13)]

## Q2: Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.
###  For eg.

#### The original tuple : (1, 5, 7, 8, 10)
#### Resultant tuple after multiplication : 

#### (1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

#### output-(5, 40, 91, 136, 80)

In [1]:
def multiply_and_sum_adjacent_elements(ot):
    result = []
    for i in range(len(ot)):
        left_product = 1
        right_product = 1
        for j in range(i):
            left_product *= ot[j]
        for k in range(i + 1, len(ot)):
            right_product *= ot[k]
        result.append(left_product + right_product)
    return tuple(result)

ot = (1,5,7,8,10)
rt = multiply_and_sum_adjacent_elements(ot)
print(rt)

(2801, 561, 85, 45, 281)

In [ ]:
x=[1,2,3,4]
print sum(a*b for a,b in zip(x, x[1:]))

## Q3: Check is tuples are same or not? Two tuples would be same if both tuples have same element at same index

#### t1 = (1,2,3,0)
#### t2 = (0,1,2,3)

##### t1 and t2 are not same

In [1]:
t1 = (1,2,3,4)
t2 = (0,1,2,3)
if t1 == t2:
    print("Tuple are same.")
else:
    print("Tuple are not same.")

Tuple are not same.

## Q4: Count no of tuples, list and set from a list
#### list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

In [1]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
List =0
Set = 0
Tuple = 0
a = ""
for i in list1:
    a = type(i)
    if a == list:
        List +=1
    elif a == set:
        Set +=1
    else:
        Tuple +=1

print("List is ",List)
print("Set is ",Set)
print("Tuple is ",Tuple)

List is  2
Set is  2
Tuple is  1

## Q5: Shortlist Students for a Job role Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

#### Show every students record in form of tuples if matches all required criteria.

#### It is assumed that there will be only one primry skill.

#### If no such candidate found, print No such candidate
#### input : 
#### Enter No of records- 2
#### Enter Details of student-1
#### Enter Student name- Manohar
#### Enter Higher Education- B.Tech
#### Enter Primary Skill- Python
#### Enter Year of Graduation- 2022
#### Enter Details of student-2
#### Enter Student name- Ponian
#### Enter Higher Education- B.Sc.
#### Enter Primary Skill- C++
#### Enter Year of Graduation- 2020

#### Enter Job Role Requirement
#### Enter Skill- Python
#### Enter Higher Education- B.Tech
#### Enter Year of Graduation- 2022

In [1]:
num_students = int(input("Enter the number of students: "))
students = []  
for _ in range(num_students):
    name = input("Enter student name: ")
    primary_skill = input("Enter student's primary skill: ")
    higher_education = input("Enter student's higher education: ")
    year_of_graduation = int(input("Enter student's year of graduation: "))
    students.append((name, primary_skill, higher_education, year_of_graduation))

desired_primary_skill = input("Enter the desired primary skill: ")
desired_higher_education = input("Enter the desired higher education: ")
desired_year_of_graduation = int(input("Enter the desired year of graduation: "))

found_match = False
for student in students:
    name, skill, education, graduation_year = student
    if (
        skill == desired_primary_skill
        and education == desired_higher_education
        and graduation_year == desired_year_of_graduation
    ):
        print(f"Match found: {student}")
        found_match = True

if not found_match:
    print("No such candidate.")

Enter the number of students:  2
Enter student name:  manohar
Enter student's primary skill:  python
Enter student's higher education:  B.tech
Enter student's year of graduation:  2022
Enter student name:  ponima
Enter student's primary skill:  c++
Enter student's higher education:  B.sc
Enter student's year of graduation:  2022
Enter the desired primary skill:  python
Enter the desired higher education:  B.tech
Enter the desired year of graduation:  2022

Match found: ('manohar', 'python', 'B.tech', 2022)

# Set

## Q1: Write a program to find set of common elements in three lists using sets.
#### Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

In [3]:
def find_common_elements(ar1, ar2, ar3):
   
    set1 = set(ar1)
    set2 = set(ar2)
    set3 = set(ar3)
    
    common_elements = set1.intersection(set2, set3)
    
    return list(common_elements)

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

result = find_common_elements(ar1, ar2, ar3)
print("Common elements:", result)

Common elements: [80, 20]

## Q2: Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
#### Input:

#### Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

In [5]:
def count_unique_vowels(s):
    vowels = set("aeiouAEIOU")
    
    unique_vowels_count = 0
    
    
    for char in s:
        if char in vowels:
            unique_vowels_count += 1
    
    return unique_vowels_count

str1 = "hands-on data science mentorship program with live classes at affordable fee only on campusx"
result = count_unique_vowels(str1)
print(f"No. of unique vowels: {result}")

No. of unique vowels: 28

## Q3: Write a program to Check if a given string is binary string of or not.
 #### A string is said to be binary if it's consists of only two unique characters.

 #### Take string input from user.

Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No

In [2]:
def check_binary(string):
    unique_chars = set(string)
    binary_chars = {'0', '1'}
    if unique_chars == binary_chars or unique_chars == {'0'} or unique_chars == {'1'}:
        return "Yes"
    else:
        return "No"

user_input = input("Enter a string: ")
print(check_binary(user_input))

Enter a string:  campusx

No

## Q4: find union of n arrays.
#### Example 1:

Input:

[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
Output:

[1, 2, 3, 4, 5, 6, 7, 9]

In [4]:
arrays = [[1, 2, 2, 4, 3, 6], [5, 1, 3, 4], [9, 5, 7, 1],[2, 4, 1, 3]]

result = set()

for array in arrays:

   result.update(array)

print(list(result))

[1, 2, 3, 4, 5, 6, 7, 9]

## Q5: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using list-comprehension.
#### Example 1:

Input:

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
Output:

[9, 10, 4, 5]

In [3]:
def intersection(lst1, lst2):
    return [value for value in lst1 if value in lst2]

lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
result = intersection(lst1, lst2)
print(result)

[9, 10, 5, 4, 9]

## Example 2:

#### Input:

lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
Output:

[9, 11, 26, 28]

In [21]:
def intersection(lst1, lst2):
    return [value for value in lst1 if value in lst2]

lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69} 
lst2 =  {9, 9, 74, 21, 45, 11, 63, 28, 26}
result = intersection(lst1, lst2)
print(result)

[9, 11, 26, 28]

## Dictionary

## Q1: Key with maximum unique values
#### Given a dictionary with values list, extract key whose value has most unique values.

#### Example 1:

Input:

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
Output:

CampusX

In [20]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
print(max(test_dict))

is

## Example 2:

#### Input:

test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
Output:

Best

In [18]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
print(min(test_dict))

Best

## Q2: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.
#### Example 1:

#### Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
#### Output:

CampusX is the best channel for Data-Science students.

In [3]:
def replace_words(input_str, repl_dict):
    for key, value in repl_dict.items():
        input_str = input_str.replace(key, value)
    return input_str

test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}
output = replace_words(test_str, repl_dict)
print("Replaced Strings:", output)

Replaced Strings: CampusX is the best channel for Data-Science students.

## Example 2:

#### Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
#### Output:

CampusX best for DS students.

In [ ]:
def replace_words(input_str, repl_dict):
    for key, value in repl_dict.items():
        input_str = input_str.replace(key, value)
    return input_str

test_str =  'CampusX best for DS students.'
repl_dict =
output = replace_words(test_str, repl_dict)
print("Replaced Strings:", output)

## Q3: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.
Example 1:

#### Input:

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
#### Output:

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [9]:
test_list = ["datascience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1]: test_list[idx + 1]})

print("The constructed dictionary list:", res)

The constructed dictionary list: [{'name': 'datascience', 'id': 3}, {'name': 'is', 'id': 8}]

## Example 2:

#### Input:

test_list = ["CampusX", 10]
key_list = ["name", "id"]
#### Output:

[{'name': 'CampusX', 'id': 10}]

In [10]:
test_list =  ["CampusX", 10]
key_list = ["name", "id"]

n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1]: test_list[idx + 1]})

print("The constructed dictionary list:", res)

The constructed dictionary list: [{'name': 'CampusX', 'id': 10}]

## Q4: Convert a list of Tuples into Dictionary.
Example 1:

#### Input:

[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
#### Output:

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [7]:
def convert_to_dict(tup):
    result_dict = {}
    for key, value in tup:
        result_dict.setdefault(key, []).append(value)
    return result_dict

input_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
output_dict = convert_to_dict(input_list)
print(output_dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

## Example 2:

#### Input:

[('A', 1), ('B', 2), ('C', 3)]
#### Output:

{'A': [1], 'B': [2], 'C': [3]}

In [8]:
def convert_to_dict(tup):
    result_dict = {}
    for key, value in tup:
        result_dict.setdefault(key, []).append(value)
    return result_dict

input_list = [('A', 1), ('B', 2), ('C', 3)]
output_dict = convert_to_dict(input_list)
print(output_dict)

{'A': [1], 'B': [2], 'C': [3]}

## Q5: Sort Dictionary key and values List.
### Example 1:

#### Input:

{'c': [3], 'b': [12, 10], 'a': [19, 4]}
#### Output:

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [5]:
input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

output_dict = {key: sorted(input_dict[key]) for key in sorted(input_dict)}

print(output_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

## Example 2:

#### Input:

{'c': [10, 34, 3]}
#### Output:

{'c': [3, 10, 34]}

In [6]:
input_dict = {'c': [10, 34, 3]}

output_dict = {key: sorted(input_dict[key]) for key in sorted(input_dict)}

print(output_dict)

{'c': [3, 10, 34]}